@{
    ViewData["Title"] = "Deposit All";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Deposit All</title>
    </head>
    <body>
        <h1 class="text-center my-4">Deposit to all</h1>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-4">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">

                        <form asp-controller="School" asp-action="SubmitDepositAll" method="post">
                            <div>
                                <label class="form-label" for="Amount">Deposit Amount:</label>
                                <input class="form-control" type="number" id="Amount" name="Amount" required step="0.01" min="0">
                            </div>
                            <button class="btn btn-primary" type="submit">Deposit to All Users</button>
                        <button class="btn btn-secondary" type="button" onclick="goBack()">Go Back</button>

                        </form>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <p style="color: red;">@ViewBag.ErrorMessage</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    <script>
        function goBack() {
            window.location.href = '@Url.Action("IndexSchool", "School")';
        }
    </script>
    </body>
</html>
