@{
    ViewData["Title"] = "Deposit";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Déposer des fonds</title>
    </head>
    <body>
    @if (TempData["ErrorMessage"] != null)
    {
        <p style="color: red;">@TempData["ErrorMessage"]</p>
    }
        <div class="container">
            <h1 class="text-center my-4">Deposit money</h1>
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-12 col-xl-4">

                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body text-center">

                                <form asp-controller="Student" asp-action="SubmitDeposit" method="post">
                                    <div class="layoutDiv">
                                        <label class="form-label" for="amount">Enter amount to deposit :</label>
                                        <input class="form-control" placeholder="CHF" type="number" id="amount" name="amount">
                                    </div>
                                    <div class="layoutDiv">
                                        <button class="btn btn-primary" type="submit">Deposit</button>
                                        <button class="btn btn-primary" type="submit">Go Back</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>