@{
    ViewData["Title"] = "Studenthome";
}

<!DOCTYPE html>
<html>
<head>
    <title>Page des étudiants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Welcome to the student's page</h1>

        <!-- Afficher le message d'erreur s'il existe -->
    @if (TempData["ErrorMessage"] != null)
    {
        <p style="color: red;">@TempData["ErrorMessage"]</p>
    }
        <form asp-controller="Student" asp-action="AddCardId" method="post" class="my-4">
            <div class="form-group">
                <label for="cardID">Enter your card ID :</label>
                <input type="text" id="cardID" name="cardID" class="form-control">
            </div>
            <button type="submit" id="buttonAdd" class="btn btn-primary">Add</button>
        </form>
    </div>
</body>
</html>