@model IEnumerable<WebAPINormal.DTO.ProductRateDTO>

@{
    ViewData["Title"] = "Print";
}

<!DOCTYPE html>
<html>
<head>
    <title>Imprimer un produit</title>
</head>
<body>
    <h1>Imprimer un produit</h1>


    <form asp-controller="Student" asp-action="SubmitPrint" method="post">
        <div>
            <label for="product">Sélectionnez un produit :</label>
            <select id="product" name="productCode">
                @foreach (var product in Model)
                {
                    <option value="@product.ProductCode">@product.ProductName</option>
                }
            </select>
        </div>
        <div>
            <label for="quantity">Quantité :</label>
            <input type="number" id="quantity" name="quantity">
        </div>
        <button type="submit">Imprimer</button>
    </form>
    <br>
    <form asp-controller="Student" asp-action="GetStudentInfo">
        <button type="submit">Go Back</button>
    </form>
</body>
</html>