@model WebApplication1.Models.StudentInfoViewModel

@{
    ViewData["Title"] = "Student Information";
}

<!DOCTYPE html>
<html>
<head>
    <title>Informations de l'étudiant</title>
</head>
<body>
    <h1>Informations de l'étudiant</h1>

    @if (TempData["ErrorMessage"] != null)
    {
        <p style="color: red;">@TempData["ErrorMessage"]</p>
    }

    <div>
        <h2>Détails de l'utilisateur</h2>
        <p>Firstname: @Model.User.FirstName</p>
        <p>Lastname: @Model.User.LastName</p>
        <!-- Ajoutez d'autres détails de l'utilisateur ici -->
    </div>

    <div>
        <h2>Budget</h2>
        <p>Amount: @Model.Budget.Balance</p>
        <!-- Ajoutez d'autres détails du budget ici -->
    </div>

    <form asp-controller="Student" asp-action="RedirectDepositStudent" method="post">
        <button type="submit">Deposit</button>
    </form>
    <form asp-controller="Student" asp-action="RedirectPrint" method="post">
        <button type="submit">Print</button>
    </form>
    <form asp-controller="Student" asp-action="RedirectTransactions" method="post">
        <button type="submit">See transactions</button>
    </form>


</body>
</html>
